footer {
    font-family: verdana;
    background-color: #707070;
    color: #fefefe;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-columns: 50% 1fr 1fr 1fr;
    padding: 1rem;
}

address {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
}

footer p {
    grid-row: 3 / 4;
    grid-column: 1 / span 5;
    justify-self: center;
    margin-top: 1rem;
}

#fb {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: flex-end;
    align-self: flex-end;
}

#twit {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    justify-self: center;
    align-self: flex-end;
}

#insta {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    justify-self: flex-start;
    align-self: flex-end;
}

/* -----Desktop----- */
@media screen and (min-width: 769px) {
    footer {
        grid-template-columns: 50% 2fr 0.5fr 1fr;
    }

    address {
        margin-right: 6rem;
    }
}

/* -----Mobil----- */
@media screen and (max-width: 768px) {
    footer {
        display: grid;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-columns: 50% 1fr 1fr 1fr;
    }
}