header h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header ul li a{
    color: #FEFEFE;
    font-family: verdana 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* -----Desktop----- */
@media screen and (min-width: 769px) {
    nav{
        background-color: #92B8B7;
        color: #FEFEFE;
    }
    nav {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    nav h1 {
        grid-area: 1 / 1;
        margin: 1rem;
        margin-left: 6rem;
    }
    nav ul li {
        grid-row: 1;
        grid-column: 2;
        display: inline;
        margin: 1rem; 
    }
    .menu{
        margin-right: 4rem; 
        justify-items: start;
    }
    label {
        display: none;
    }
    ul {
        display: flex;
        justify-content: flex-end;
    }
    ul > li {
        font-size: large;
    }
    #checkbox {
        display: none;
    }
    .title {
        color: #FEFEFE;
        text-decoration: none;
    }
}

/* -----Mobil----- */
@media screen and (max-width: 768px){
    nav {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #707070;
    }
    .title{
        grid-column: 1 / span 2;
        grid-row: 1;
        max-width: 100%;
        background: #92B8B7;
        color: #FEFEFE;
        text-decoration: none;
    }
    nav h1 {
        grid-column: 1 / span 2;
        grid-row: 1;
        margin-top: 3vmin;
        margin-left: 6vmin;
        align-self: center;
        font-size: 30px;
        background-color: #92B8B7;
    }
    label{
        grid-row: 1;
        background-color: #92B8B7;
        padding: 1vmin;
    }

    .navmobil{
        grid-column: 2 / 2;
        grid-row: 1;
        float: right;
        padding: 1vmin 1vmin;
        background-color: #92B8B7;
    }
    #checkbox[type="checkbox"]{
        display: none;
    }
    input[type="checkbox"]:checked~ul{
        display: block;
    }
    ul{
        grid-row: 2;
        display: none;
        list-style: none;
        padding: 0;
        justify-self: center;
    }
    ul > li{
        grid-row: 2;
        font-size: x-large;
        grid-column: 1 / 3;
        margin: 1rem 0 1rem 0;
    }
    ul li a {
        text-decoration: none;
        justify-self: center;
    }
    .menu{
        grid-row: 2;
        background-color: #707070;
        justify-self: center;
        grid-column: 1 / span 3;
    }
}