@import "./main.css";

main {
    padding: 2em 8em;
}

article {
    background-color: #bcdfde;
    display: grid;
    grid-template-columns: 240px 1fr;
    margin-top: 1em;
    height: 350px;
}

section {
    padding: 1rem;
}

article img {
    width: 100%;
    grid-column: 1 / 2;
}

section h2 {
    grid-column: 2 / 3;
    justify-self: center;
}

section p {
    grid-column: 2 / 3;
}

/* -----Desktop----- */
@media screen and (min-width: 769px) {
    section h2 {
        margin: 0.6em 0;
        align-self: center;
    }
}

/* -----Mobil----- */
@media screen and (max-width: 768px) {
    section h2 {
        margin: 0.6em 0;
        align-self: center;
    }
}