@import "./main.css";

/* -----Desktop----- */
@media screen and (min-width: 769px) {}
    main h1{
        padding: 1em 4em;    
    }

    #wrapper {
        height: 30em;
        padding: 0 8em;
    }

    .picture1 {
        float: right;
    }
    .picture2 {
        width: 100%;
    }
    .picture2{
        height: 40em;
        padding-top: 2em;
    }
    .text2{
        padding: 2em 8em 2em 8em;
    }

/* -----Mobil----- */
@media screen and (max-width: 768px) {
    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        padding: 1em;
    }
}